<div class="shadow rounded p-5 m-3">
  <div id="<%= dom_id post %>">
    <p>
      <strong>Title:</strong>
      <%= post.title %>
    </p>

    <p>
      <strong>Body:</strong>
      <%= post.body %>
    </p>

    <div
      data-controller="poll"
      data-poll-url-value="<%= view_count_path(post) %>"
      data-poll-refresh-interval-value="5000">
    </div>
  </div>
</div>
